<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>first</servlet-name>
    <servlet-class>com.appolo.DoctorRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>first</servlet-name>
    <url-pattern>/doctor_register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>second</servlet-name>
    <servlet-class>com.appolo.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>second</servlet-name>
    <url-pattern>/doctor_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>third</servlet-name>
    <servlet-class>com.appolo.PatientRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>third</servlet-name>
    <url-pattern>/patient_register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fourth</servlet-name>
    <servlet-class>com.appolo.PatientLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fourth</servlet-name>
    <url-pattern>/patient_login</url-pattern>
  </servlet-mapping>
  <servlet>
		<servlet-name>five</servlet-name>
		<servlet-class>com.appolo.Appointment</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>five</servlet-name>
		<url-pattern>/apply_appointment</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>six</servlet-name>
		<servlet-class>com.appolo.AcceptAppointment</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>six</servlet-name>
		<url-pattern>/accept_appointment</url-pattern>
	</servlet-mapping></web-app>