<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>one</servlet-name>
    <servlet-class>com.organisation.EmployeeRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>one</servlet-name>
    <url-pattern>/employee_register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>two</servlet-name>
    <servlet-class>com.organisation.EmployeeLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>two</servlet-name>
    <url-pattern>/employee_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>three</servlet-name>
    <servlet-class>com.organisation.ManagerRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>three</servlet-name>
    <url-pattern>/manager_register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>four</servlet-name>
    <servlet-class>com.organisation.ManagerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>four</servlet-name>
    <url-pattern>/manager_login</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>five</servlet-name>
	<servlet-class>com.organisation.Leave</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>five</servlet-name>
	<url-pattern>/apply_leave</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>six</servlet-name>
	<servlet-class>com.organisation.AcceptLeave</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>six</servlet-name>
	<url-pattern>/accept_leave</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>seven</servlet-name>
	<servlet-class>com.organisation.RejectLeave</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>seven</servlet-name>
	<url-pattern>/reject_leave</url-pattern>
	</servlet-mapping>
  
</web-app>