<web-app>
   <servlet>
    <servlet-name>first</servlet-name>
    <servlet-class>com.company.Manager_Rgr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>first</servlet-name>
    <url-pattern>/manager_rgr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>second</servlet-name>
    <servlet-class>com.company.Manager_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>second</servlet-name>
    <url-pattern>/manager_login</url-pattern>
  </servlet-mapping>
 <servlet>
    <servlet-name>third</servlet-name>
    <servlet-class>com.company.Employe_Reg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>third</servlet-name>
    <url-pattern>/emp_rgr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fourth</servlet-name>
    <servlet-class>com.company.Emp_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fourth</servlet-name>
    <url-pattern>/emp_Login</url-pattern>
  </servlet-mapping>
</web-app>