<web-app>
 <servlet>
  <servlet-name>first</servlet-name>
 <servlet-class>com.motivity.DoctorRegister</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>first</servlet-name>
 <url-pattern>/doctor_register</url-pattern>
 </servlet-mapping>
 
 <servlet>
  <servlet-name>second</servlet-name>
 <servlet-class>com.motivity.DoctorLogin</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>second</servlet-name>
 <url-pattern>/doctor_login</url-pattern>
 </servlet-mapping>
 
 <servlet>
  <servlet-name>third</servlet-name>
 <servlet-class>com.motivity.PatientRegister</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>third</servlet-name>
 <url-pattern>/patient_register</url-pattern>
 </servlet-mapping>
 <servlet>
  <servlet-name>fourth</servlet-name>
 <servlet-class>com.motivity.PatientLogin</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>fourth</servlet-name>
 <url-pattern>/patient_login</url-pattern>
 </servlet-mapping>
 </web-app>
 